
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/pure.css" />
    {{! create custom.css and then uncomment the line below, this will let you make updates that don't get overwritten }}
     {{! <link rel="stylesheet" type="text/css" href="/assets/css/pure.css" /> }}

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="pure-g-r" id="layout">
        <div class="sidebar pure-u" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
            {{#if @blog.cover}}<div class="sidebar-overlay"></div>{{/if}}
            <header class="header">
                <hgroup>
                    {{#if @blog.logo}}<a class="brand-title" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
                    <h1 class="brand-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
                    <h2 class="brand-tagline">{{@blog.description}}</h2>
                </hgroup>

                {{! --- Coming Soon When Pages Are Released ---
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="http://purecss.io">Pure</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="http://yuilibrary.com">YUI Library</a>
                        </li>
                    </ul>
                </nav>
                --------- End Future Support Area -------- }}
            </header>
        </div>
        <div class="pure-u-1">
            <div class="content">
                {{! Everything else gets inserted here }}
                {{{body}}}

        <footer class="footer">
             <div class="pure-menu pure-menu-horizontal pure-menu-open">
                        <ul>
                            <li><a href="{{@blog.url}}/rss/">Subscribe to RSS</a></li>
                            <li><a href="http://ghost.org">Powered by Ghost</a></li>
                            <li><a href="https://github.com/teamcoltra/PureBlog/">PureBlog Theme</a></li>
                        </ul>
                    </div>
                    <p><a href="/">{{@blog.title}}</a> {{date format="YYYY"}} This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</p>
            
        </footer>
    </div>
</div>
</div>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>
</body>
</html>
