{{!< default}}


{{! The main content area on the homepage }}

            <!-- A wrapper for all the blog posts -->
<main class="posts">
    {{! <h1 class="content-subhead">Pinned Post</h1> }}
               

    {{#foreach posts}}

    <article class="post {{post_class}}">
        <header class="post-header">
            <img class="post-avatar" alt="{{author.name}}&#x27;s avatar" height="48" width="48" src="{{author.image}}">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <p class="post-meta">
                 By <a href="{{author.website}}" class="post-author">{{author.name}}</a> on <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> under {{#tags}}<span class="post-category post-category-{{name}}">{{name}}</span> {{/tags}}
             </p>  
        </header>
         <section class="post-description">
                        <p>{{excerpt}}&hellip;</p>
            </section>
    </article>

    {{/foreach}}


    {{pagination}}

</main>